@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    font-family: "AudioWide";
    color: rgb(70, 252, 10);
    margin: 0px;
    padding: 0px;
}
body {
    width: 100wh;
    height: 100vh;

    background-image: url(imagens/psico7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: auto;
}
/* CABEÇALHO */
.header{
    margin-top: 30px;
}
h1 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 5em;
    color: rgb(99, 252, 11);
}
.p1_header{
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgba(99, 252, 11, 0.753);
    text-align: center;
    font-size: 2em;
} 
/* ARTICLE 1 SOBRE */
.article1{
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background-color: rgba(29, 7, 7, 0.959);
}
.p_article1{
    padding-top: 60px;
    color: rgb(70, 252, 10);
    font-size: 1.5em;
}
.a_GG{
    color: rgb(8, 12, 238);
    text-decoration: none;
}
.a_GG:hover{
    color: white;
}
p .a_est{
    color: rgb(8, 12, 238);;
    text-decoration: none;
}
p .a_est:hover{
    color: white;
}
p .a_boni{
    color:  rgb(8, 12, 238);
    text-decoration: none;
}
.a_boni:hover{
    color: white;
}
p a.a_b7web{
    color: rgb(8, 12, 238);
    text-decoration: none;
}
p .a_b7web:hover{
    color: white;
}
/* ARTICLE 2 */
.article2{
    margin-left: 13%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 380px;
    /*background-color: rgba(29, 7, 7, 0.959);*/
    background-image: url(imagens/psico6.png);
    
}
.art_h3{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 2em
    
}
.art_ul{
    margin-left: 8%;
    font-size: 1.5em;
}
/* ASIDE DO ARTICLE 2 */
/**/
/**/
/**/
/**/
/**/
/* FOOTER */
