@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
    background-image: url(imagens/psico7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: "AudioWide";
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(99, 252, 11);
}
h2 {
    
    text-align: center;
    font-size: 3em;
    color: rgb(99, 252, 11);
}