@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* font-family: 'agbalumo', Arial, Helvetica, sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montez&family=Satisfy&display=swap');
/* font-family: 'Dancing Script', cursive;*/
/*font-family: 'Montez', cursive;*/
/*font-family: 'Satisfy', cursive; */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 0px;
    word-spacing: 0px;
    word-wrap: break-word; /* PARA QUEBRAR A PALAVRA DO TEXTO PARA MANTER NO ESPAÇO DO ELEMENTO */
}
body {
    background-color: white;
    width: 100wh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
/* CABEÇALHO */
header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-image: linear-gradient(to left top, rgb(252, 226, 230), #58c8f4 60%);
}
.container {
    background-color: #525151;
    width: 1027px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.div_logo {
    display: flex;
    align-items: center;
}
.sec_nav_header {
    display: flex;
    align-items: center;
}
.nav_header {
    font-family: Arial, Helvetica, sans-serif; 
}
nav ul,
nav li {
    list-style: none;
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}
/* BANNER */
#sec_banner {
    display: flex;
    background-color: rgb(252, 226, 230);
    background-image: url(/projeto_desenvolvedor_full/imagens/imag_lotus/foto_banner_ok.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 770px;
    justify-content: center;
}
.sec_div_parte1 {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    padding: 0;
    width: 900px;
}
.sec_div_parte1 h2 {
    font-family: 'Montez', cursive;
    margin-top: 100px;
    padding-left: 80px;
    color: #727272;
    font-size: 50px;
    text-shadow: 2px 2px 5px white;
}
.sec_div_parte1 h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    margin-top: 50px;
    color:  #39aae1;;
    font-size: 125px;
    text-shadow: 2px 2px 5px white;
}
.sec_div2 {
    background-color: #fafd3c;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: end;
    height: 260px;
    width: inherit;
    padding: 0;
}
/*.banner1,
.banner2,
.banner3 {
    flex: 1;
    height: 100%;
    margin-left: 90px;
    box-shadow: 5px 2px 4px #72727277;
    
}
.banner1 {
    background-color: #1bbdfd;
    color: #525151;
    font-size: 1.2em;
}
.banner1 p {
    padding: 25px;
    letter-spacing: 1px;
    line-height: 27px;
}
.banner2 {
    background-color: #73d7ff;
    color: #525151;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1.2em;
}
.banner2 h3 {
    margin-top: 25px;
    padding-left: 15px;
}
.banner2 dd {
    margin-top: 15px;
}
.banner2 dl,li {
    list-style-position: inside;
    list-style-type: circle;
    line-height: 30px;
    padding-left: 15px;
}
.banner3{
    /*background-color: #b2e7fc;*/
}*/
.banner3 table {
    color: #525151;
    padding: 25px;
    line-height: 25px;
    font-size: 1.2em;
}
/* MAIN */
.main {
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.main_sec1 {
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    flex: 2;
    width: 60%;
    margin-left: 90px;
    height: 500px;
}
.main_aside2 {
    background-color: burlywood;
    border: 1px solid black;
    display: flex;
    flex: 1;
}
/* RODAPÉ */
footer {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.sec_nav_footer {
    border: 2px solid black;
}
.nav_footer {
    border: 2px solid black;
}
footer .a_onando{
    text-decoration: none;
    color: #d816be;
}
footer .a_onando:hover{
    color: white;
}
/*  */
/*  */
/*  */