@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 0px;
    word-spacing: 0px;
    word-wrap: break-word; /* PARA QUEBRAR A PALAVRA DO TEXTO PARA MANTER NO ESPAÇO DO ELEMENTO */
}
body {
    background-color: white;
    width: 100wh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
/* CABEÇALHO */
header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-image: linear-gradient(to left top, rgb(255, 192, 203), #58c8f4 60%);
}
.container {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.div_logo {
    display: flex;
    align-items: center;
}
.sec_nav_header {
    display: flex;
    align-items: center;
}
.nav_header {
    font-family: Arial, Helvetica, sans-serif; 
}
nav ul,
nav li {
    list-style: none;
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}
/* BANNER */
.sec_banner {
    background-color: rgb(255, 192, 203);
    background-image: url(/projeto_desenvolvedor_full/imagens/imag_lotus/foto_banner_ok.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 670px;
}
.sec_div1 {
    
}
.sec_div2 {
    
}
.sec_div3 {
    
}
/* MAIN */
.main {
    border: 2px solid black;
}
.main_sec1 {
    border: 2px solid black;
}
.sec_art {
    border: 2px solid black;
}
.aside_img {
    border: 2px solid black;
}
.main_sec2 {
    border: 2px solid black;
}
.aside_foto {
    border: 2px solid black;
}
/* RODAPÉ */
footer {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.sec_nav_footer {
    border: 2px solid black;
}
.nav_footer {
    border: 2px solid black;
}
footer .a_onando{
    text-decoration: none;
    color: #d816be;
}
footer .a_onando:hover{
    color: white;
}
/*  */
/*  */
/*  */