@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@font-face {
    font-family: 'glith' ;
    src: url(/projeto_desenvolvedor_full/fontes/age.ttf) format(opentype);
}  
* {
    font-family: "AudioWide", cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 5px;
    word-spacing: 0px;
    

}
body {
    width: 100wh;
    height: 100vh;
    margin: 0px;
    background-color: black;
}
/* FOR STANDARD SETTINGS ONT THE HEAD/PARA CONFIGURAÇÕES PADRÃO NO CORPO */
.p_center{ 
    text-align: center;
}
.f_white{
    color: white;
    text-decoration: none;
}
.f_blue{
    color: rgb(56, 69, 250);
    text-decoration: none;
}
.f_blue:hover{
    color: white;
}
.f_green{
    text-decoration: none;
}
.f_green:hover{
    color: white;
}
.f_pink{
    color: #d816be;
    text-decoration: none;
}
.f_pink:hover{
    color: white;
}
.decore_none{
    text-decoration: none;
}
.decore_none:hover{
    color: white;
}
.decore_none_h:hover{
    text-decoration: none;
    color: white;
}
.h3{
    text-align: center;
    margin-top: 25px;
    font-size: 2em
    
}
/* CABEÇALHO*/
header{
    background-image: url(/projeto_desenvolvedor_full/imagens/nando_dj/kodama_corte.png);
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
}
.p_header{
    padding-top: 1%;
    padding-left: 30px;
}
/* MAIN */
.div_nando{
    background-image: linear-gradient(to bottom black, pink );
    margin-top: 50px;
    height: 500px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
h1 {
    font-family: 'glith';
    font-size: 10em;
    text-align: center;
}
.imagem{
    background-size: cover;
    background-attachment: fixed;
    color: #d816be;
    font-size: 2em;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    padding: 40px;
    width: 100%;
    height: auto;
    background-color: rgba(29, 7, 7, 0.767);
    box-shadow: inset 2px 2px 0px rgba(235, 50, 210, 0.164);
}
#looping{
    background-image: url(/projeto_desenvolvedor_full/imagens/nando_dj/looping_2.jpg);
    background-position: center;
}
/* FOOTER */
.footer{
    text-align: center;
    height: 50px;
    margin-top: 50px;
    color: white;
}
footer .a_onando{
    text-decoration: none;
    color: #d816be;
}
footer .a_onando:hover{
    color: white;
}
/**/
/**/
/**/
/**/


