@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
* {
    font-family: "AudioWide", cursive;
    color: rgb(70, 252, 10);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 5px;
    word-spacing: 0px;
    word-wrap: break-word;
}
body {
    width: 100wh;
    height: 100vh;
    margin: 0px;

    background-image: url(/projeto_desenvolvedor_full/imagens/psico3.png);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
}
/* FOR STANDARD SETTINGS ONT THE HEAD/PARA CONFIGURAÇÕES PADRÃO NO CORPO */
.f_black{
    color: black;
}
.p_center{
    text-align: center;
}
.f_blue{
    color: rgb(56, 69, 250);
    text-decoration: none;
}
.f_blue:hover{
    color: white;
}
.f_pink{
    color: #fd06dc;
    text-decoration: none;
}
.f_pink:hover{
    color: white;
    cursor: pointer;
}
/* CABEÇALHO */
.header_vis{
    text-align: center;
    margin-top: 60px;
}
.h1_vis{
    margin-bottom: 0px;
    text-align: center;
    font-size: 5em;
    text-shadow: 2px 2px 0px rgba(235, 50, 210, 0.514);
}
/* MAIN */
.div_vis{
    margin: auto;
    margin-top: 80px;
    padding: 40px;
    border-radius: 50px;
    width: 70%;
    height: auto;
    line-height: 30px;
    background-color: rgba(29, 7, 7, 0.767);
    box-shadow: 2px 2px 0px rgba(235, 50, 210, 0.164);
}
fieldset{
    background-color: rgba(65, 6, 6, 0.164);
    margin: auto;
    border: 1px solid;
    padding: 30px;
}
legend{
    padding: 15px;
}
#txt{
    resize: none; /* PARA TIRAR A OPÇÃO DE AMPLIAR A CAIXA DE TEXTO PARA O USUÁRIO */
    padding: 30px;
}
label {
    display: block;
    margin-top: 20px;
    color: rgb(216, 252, 10);
}
input, select, textarea{ 
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(92, 22, 22, 0.644);
    font-size: .8em;
    outline: 0; /* PARA TIRAR A LINHA DAS BORDAS DO INPUT */
    border: 1px solid ; 
}
textarea{
    height: 30vh;
}
.caixa{
    width: 40vw;
}
#div_botao{
    margin-top: 100px;
    text-align: center;
}
#i_enviar{
    margin-top: 20px;
    padding: 20px;
    font-size: .8em;
    text-align: center;
    background-color: rgba(29, 2, 2, 0.959);
    border-radius: 15px;
}
#i_enviar:hover{
    background-color: black;
}
.p_voltar{
    text-align: center;
    margin-top: 50px;
}
.voltar{
    font-size: 2em;
    text-decoration: none;
}
/* FOOTER */
.footer_vis{
    text-align: center;
    height: 50px;
    margin-top: 50px;
}
footer .a_onando_vis{
    text-decoration: none;
    color: #d816be;
}
footer .a_onando_vis:hover{
    color: white ;
}