@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
* {
    font-family: "AudioWide", cursive;
    color: rgb(70, 252, 10);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 5px;
    word-spacing: 0px;
}
body {
    width: 100wh;
    height: 100vh;
    margin: 0px;

    background-image: url(/projeto_1_desenvolvedor_front/imagens/psico3.png);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
}
/* FOR STANDARD SETTINGS ONT THE HEAD/PARA CONFIGURAÇÕES PADRÃO NO CORPO */
.f_black{
    color: black;
}
.p_center{
    text-align: center;
}
/* CABEÇALHO */
.header_vis{
    text-align: center;
    margin-top: 60px;
}
.h1_vis{
    margin-bottom: 0px;
    text-align: center;
    font-size: 5em;
}
/* MAIN */
.div_vis{
    margin: auto;
    margin-top: 80px;
    padding: 40px;
    border-radius: 50px;
    width: 70%;
    height: auto;
    line-height: 30px;
    font-size: 1.5em;
    background-color: rgba(29, 7, 7, 0.767);
    box-shadow: 2px 2px 0px rgba(235, 50, 210, 0.164);
}
.txt_area{
    width: 40%;
    height: 150px
}
.p_voltar{
    text-align: center;
    margin-top: 50px;
}
.voltar{
    font-size: 2em;
    text-decoration: none;
}
/* FOOTER */
.footer_vis{
    text-align: center;
    height: 50px;
    margin-top: 50px;
}
footer .a_onando_vis{
    text-decoration: none;
    color: #d816be;
}
footer .a_onando_vis:hover{
    color: white ;
}