@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    font-family: "AudioWide";
    color: rgb(70, 252, 10);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100wh;
    height: 100vh;
    margin: 0px;

    background-image: url(imagens/psico_cleanpng.png);
    background-repeat: repeat;
    background-size: contain;
    background-attachment: scroll;
}
/* FOR STANDARD NO HEAD */
.p_center{
    text-align: center;
}
.a_white{
    color: white;
    text-decoration: none;
}
.a_blue{
    color: rgb(56, 69, 250);
    text-decoration: none;
}
.a_blue:hover{
    color: white;
}
/* CABEÇALHO */
.header{
    margin-top: 50px;
}
h1 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 5em;
    color: rgb(99, 252, 11);
}
.p1_header{
    margin-top: 10px;
    color: rgba(99,252,11);
    text-align: center;
    font-size: 2em;
} 
.nav{
    text-align: center;
    margin-top: 10px;
}
/* ARTICLE 1 SOBRE */
.article1{
    margin: auto;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    height: 750px;
    background-color: rgba(29, 7, 7, 0.767);
}
.p_article1{
    padding-top: 60px;
    color: rgb(70, 252, 10);
    font-size: 1.5em;
}
/* ARTICLE 2 */
.article2{
    margin-left: 30px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    height: 380px;
    background-color: rgba(29, 7, 7, 0.767);
    
}
.art_h3{
    text-align: center;
    margin-top: 25px;
    font-size: 2em
    
}
.art_ul{
    margin-left: 8%;
    margin-top: 30px;
    font-size: 1.5em;
}
/* ASIDE DO ARTICLE 2 */
/**/
/**/
/**/
/**/
/**/
/* FOOTER */
.footer{
    text-align: center;
    height: 50px;
    margin-top: 50px;
}
footer .a_onando{
    text-decoration: none;
    color: white;
}
footer .a_onando:hover{
    color: #d816be ;
}